{{opts["java"]}} -Xmx{{opts["max_mem"]}} -Xms{{opts["max_stack"]}} -jar {{opts["gatk_jar"]}} -T HaplotypeCaller -R {{opts["reference"]}} -I {{opts["cram_file"]}} -o {{opts["temp_output1"]}} -ERC GVCF --max_alternate_alleles 3 -variant_index_type LINEAR -variant_index_parameter 128000 -L {{opts["chrom"]}} -contamination {{opts["freemix"]}} --read_filter OverclippedRead && {{opts["java"]}} -Xmx{{opts["max_mem"]}} -Xms{{opts["max_stack"]}} -jar {{opts["gatk_jar"]}} -T CombineGVCFs -R {{opts["reference"]}} --breakBandsAtMultiplesOf {{opts["break_multiple"]}} -V {{opts["temp_output1"]}} -o {{opts["temp_output2"]}} && mv {{opts["temp_output2"]}} {{opts["output_file"]}} && mv {{opts["temp_output2"]}}.tbi {{opts["output_file"]}}.tbi && rm -f {{opts["temp_output1"]}} {{opts["temp_output1"]}}.tbi
